################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
**/.cache-*
/build
/__pycache__
*.spec
*.pyc
**/.tmp
*.egg-info/
**/*.egg