################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.tmp
/build/SpotifyAdMute
/dist
/.cache-pungun1234
/SpotifyAdMute.spec
